@import url("https://fonts.googleapis.com/css?family=Ubuntu&display=swap");
@import url(./normalize.css);
@import url(./base.css);
@font-face {
  font-family: 'gagalin';
  src: url("./Gagalin-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'lifehack';
  src: url("./Lifehack-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.welcome {
  background: url(../images/bgwelcome.png);
  background-position: center;
  background-size: cover;
  height: 100%;
  min-height: 650px;
}

.welcome__container {
  max-width: 1100px;
  margin: 0 auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.welcome__content {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.welcome__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 14px;
  margin-top: 53px;
}

.welcome-text__up {
  font-size: 72px;
  font-family: "gagalin";
  color: #f9b43b;
  margin-bottom: 22px;
}

.welcome-text__bot {
  font-size: 72px;
  font-family: "lifehack";
  color: #fff;
  margin-bottom: 22px;
}

.burger-img {
  margin-left: 96px;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo {
  margin: 14px 69px 0 77px;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__item::before {
  content: "";
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #fff;
  margin: 5px 14px 0 19px;
}

.nav__item:nth-child(1)::before {
  display: none;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 39px;
}

.nav__link {
  font-size: 13px;
  font-family: "Ubuntu";
  color: white;
  text-transform: uppercase;
  text-decoration: none;
}

.nav_order {
  padding-top: 10px;
  text-align: center;
  background-color: #C1401E;
  margin: 28px 0 0 16px;
  width: 96px;
  height: 36px;
  border-radius: 7px;
}

.breadcrumbs {
  position: fixed;
  top: 14%;
  right: 18%;
}

.breadcrumbs__item {
  border: 1px solid transparent;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  position: relative;
  margin-bottom: 5px;
}

.breadcrumbs__item.active {
  border-color: #fff;
}

.breadcrumbs__link {
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 3px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.arrow-scroll {
  position: absolute;
  bottom: 5%;
  left: 49%;
}

.about {
  background: url(../images/bgabout.png);
  background-position: center;
  background-size: cover;
  height: 100%;
  min-height: 650px;
}

.about__container {
  max-width: 1100px;
  margin: 0 auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about__heading {
  text-align: center;
  font-size: 71.713px;
  font-family: "Gagalin";
  color: #2f3234;
  margin-top: 116px;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 47px;
}

.features__icon {
  text-align: center;
  margin-bottom: 29px;
}

.features__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 86px;
}

.features__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 290px;
  margin-right: 40px;
}

.features__heading {
  text-align: center;
  font-size: 24px;
  font-family: "lifehack";
  color: #2f3234;
  margin-bottom: 20px;
}

.features__discription {
  text-align: center;
  font-size: 14px;
  font-family: "Ubuntu";
  color: rgba(47, 50, 52, 0.8);
}

.comments {
  height: 100%;
  min-height: 650px;
}

.comments__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.comments__item {
  width: 25%;
  margin-bottom: -4px;
  position: relative;
}

.comments__item:hover .comments__img {
  -webkit-filter: brightness(0.5);
          filter: brightness(0.5);
}

.comments__img {
  width: 100%;
}

.comments__heading {
  position: absolute;
  top: 15%;
  left: 7%;
  font-size: 14px;
  font-family: "Gagalin";
  color: white;
  text-align: left;
}

.comments__discription {
  position: absolute;
  top: 28%;
  left: 7%;
  margin-right: 30px;
  font-size: 14px;
  font-family: "Ubuntu";
  color: white;
}

.comments__button {
  position: absolute;
  bottom: 15%;
  left: 7%;
  font-size: 13px;
  color: #2F3234;
  font-family: "Ubuntu";
  color: white;
  text-transform: uppercase;
  padding: 15px;
  border-radius: 5px;
}

.comments__button__text {
  color: white;
}
/*# sourceMappingURL=main.css.map */