html,
body {
  height: 100%;
  margin: 0;
}

* {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul li {
  list-style: none;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0;
}

.wrapper {
  min-width: 0px;
  overflow: hidden;
  flex-direction: column;
}

img {
  display: block;
  max-width: 100%;
}
// container for sections
.container {
  max-width: 1100px;
  width: 95%;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}
html {
  font-size: 16px;
}
