html,
body {
  height: 100%;
  margin: 0rem;
}

* {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul li {
  list-style: none;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0;
}

.wrapper {
  overflow: hidden;
  height: 100%;
  min-width: 0px;
  overflow: hidden;
  flex-direction: column;
}
p {
  margin: 0;
}
html {
  font-size: 16px;
}
img {
  display: block;
  max-width: 100%;
}
.main-content {
  height: 100%;
  transition: transform 1s;
}
// container for sections
.container {
  max-width: 1100px;
  width: 95%;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}
//
// btn
.btn {
  font-size: 0.8125rem;
  font-family: "Ubuntu";
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  border-radius: 0.375rem;
  &--order {
    padding: 0.625rem 1rem;
    background-color: #c1401e;
  }
  &--comments{
    background-color: #2f3234;
    padding: .9375rem;
    @include phones {
      margin-top: 1.875rem;
    }
  }
}
//
// overlay
.overlay {
  &__heading {
    font-size: 0.875rem;
    font-family: "Gagalin";
    color: rgb(47, 50, 52);
    text-align: left;
  }
  &__text {
    margin-top: 1.875rem;
  }
  &__window {
  
    width: 100%;
    max-width: 29.6rem;
    border-radius: 0.3125rem;
    background-color: #fff;
    padding: 1.25rem 0.75rem;
    position: fixed;
    display: flex;
    flex-direction: column;
    text-align: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include phones {
      width: 95%;
    }
  }
  &-link {
    cursor: pointer;
  }
  &__content {
    font-size: 0.875rem;
    font-family: "Ubuntu";
    margin-bottom: 1.25rem;
    color: rgb(47, 50, 52);
  }
  z-index: 200;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  opacity: 0.95;
  bottom: 0;
  height: 100%;
  background-color: #3f4244;
}
.form__overlay-window {
  align-items: center;
  @include phones {
    width: auto;
  }
}
.form__overlay-link {
  font-size: 0.8125rem;
  font-family: "Ubuntu";
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.625rem 1rem;
  text-align: center;
  background-color: #c1401e;
  width: 6rem;
  height: 2.25rem;
  border-radius: 0.4375rem;
}
.form__overlay-text {
  text-align: center;
  margin: 0;
}
.comments__close {
  &-icon {
    fill: #ec8468;
  }
  position: absolute;
  top: 1.25rem;
  right: 1.25rem;
}
//
