@font-face {
  font-family: "gagalin";
  src: url("./fonts/Gagalin-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "lifehack";
  src: url("./fonts/Lifehack-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
// background for sections
@mixin bg($backgroud: url(./images/bgwelcome.png)) {
  background: $backgroud;
  background-position: center;
  background-size: cover;
  height: 100%;
  min-height: 40.625rem;
}
// for adaptive
@mixin tablets {
  @media screen and (max-width: 768px) {
    @content;
  }
}
@mixin phones {
  @media screen and (max-width: 480px) {
    @content;
  }
}
@import url("https://fonts.googleapis.com/css?family=Ubuntu&display=swap");
@import "normalize";
@import "base";
@import "welcome";
@import "about";
@import "burgers";
@import "comments";
@import "menu";
@import "team";
@import "player";
@import "contacts";
@import "delivery";
