.team{
    @include bg(url(./images/bgteam.png));
    position: relative;
    &__content{
     position: absolute;
     right: 0;
     width: 50%;
     @include bg(url(./images/bgteamcontent.png));
     padding: 110px 95px 0px;
    }
  &__heading{
        font-size: 71.713px;
        font-family: "Gagalin";
        color: rgb(249, 180, 59);
  }
  &__accordeon{
    margin-top: 50px;
  }
  &__item{
      display: flex;
      flex-direction: column;
      margin-bottom: 35px;
      &:hover{
     .team__name{
        color: rgb(249, 180, 59);
    }
//     &:active{
//         .team__member{
// height: 100%;
//         }
//         .team__name::before{
//             transform: rotate(180deg);
//         }
//     }
      }
  }
  &__name{
        font-size: 14px;
        font-family: "Gagalin";
        color: #fff;
        display: flex;
        align-items: flex-end;
        cursor: pointer;
        &::before{
            content: "";
            border-bottom: 6px solid transparent;
            border-top: 6px solid #f9b43b;
            border-right: 5px solid transparent;
            border-left: 5px solid transparent;
            margin-right: 10px;
            margin-top: 3px;
          }
  }
&__profession{
    font-size: 14px;
    font-family: "Ubuntu";
    color: rgb(255, 255, 255);
    font-weight: bold;
  
}
&__discription{
    font-size: 14px;
    font-family: "Ubuntu";
    color: rgb(255, 255, 255);
    margin-left: 20px;
    width: 215px;
}
&__member{
    display: flex;
    margin-top: 20px;
    height: 0;
    overflow: hidden;
}
&__photo{
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}
&__img{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}
}
.active{
    .team__member{
        height: 100%;
                }
                .team__name::before{
                    transform: rotate(180deg);
                }
}


