.welcome {
  @include bg;

  &--container {
    justify-content: space-between;
  }
  &__content {
    border: 2px solid red;
    flex-shrink: 0;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    @include tablets {
      flex-direction: column;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    margin-left: 0.875rem;
    margin-top: 3.3125rem;
    flex-basis: 0;
    @include tablets {
      margin: 0;
      text-align: center;
    }
  }

  &-text__up {
    font-size: 4.5rem;
    font-family: "gagalin";
    color: rgb(249, 180, 59);
    margin-bottom: 1.375rem;
    @include phones {
      font-size: 3rem;
    }
  }

  &-text__bot {
    font-size: 4.5rem;
    font-family: "lifehack";
    color: #fff;
    margin-bottom: 1.375rem;
    @include phones {
      font-size: 3rem;
    }
  }
}

.burger-img {
  width: 41%;
  @include tablets {
    width: auto;
  }
  @include phones {
    max-width: 25rem;
    width: 77%;
  }
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid blue;
  @include tablets {
    justify-content: space-between;
  }
}

.logo {
  margin: 0.875rem 5rem 0 0;
  z-index: 3;
  @include tablets {
    margin: 0.625rem 0 0 0;
  }
}

.nav {
  display: flex;
  align-items: center;
  margin-right: 1rem;
  &__item {
    display: flex;
    transition: all 0.4s;
    &:nth-child(1) {
      transition-delay: 0.14s;
    }
    &:nth-child(2) {
      transition-delay: 0.29s;
    }
    &:nth-child(3) {
      transition-delay: 0.43s;
    }
    &:nth-child(4) {
      transition-delay: 0.58s;
    }
    &:nth-child(5) {
      transition-delay: 0.72s;
    }
    &:nth-child(6) {
      transition-delay: 0.87s;
    }
    &::before {
      content: "";
      display: inline-block;
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background-color: #fff;
      margin: 0.3125rem 0.875rem 0 1.1875rem;
      @include tablets {
        margin: 1.75rem 0;
      }
    }
    &:nth-child(1)::before {
      display: none;
    }
    @include tablets {
      transform: translateY(-100%);
      opacity: 0;
      flex-direction: column;
      align-items: center;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    z-index: 2;
    transition: all 0.3s;
    @include tablets {
      opacity: 0;
      visibility: hidden;
      position: fixed;
      top: 0%;
      left: 0%;
      right: 0;
      bottom: 0;
      align-items: center;
      justify-content: center;
      background: #313436;
      margin: 0;
      flex-direction: column;
    }
    &--active {
      @include tablets {
        visibility: visible;
        opacity: 1;
      }
      .nav__item {
        transform: translateY(0);
        opacity: 1;
      }
    }
  }

  &__link {
    font-size: 0.8125rem;
    font-family: "Ubuntu";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-decoration: none;
  }
}
.bullets {
  &__item {
    border: 1px solid transparent;
    width: 1rem;
    height: 1rem;
    border-radius: 0.5rem;
    position: relative;
    margin-bottom: 0.3125rem;

    &--active {
      border-color: #fff;
    }
  }

  &__link {
    display: block;
    width: 0.375rem;
    height: 0.375rem;
    border-radius: 0.1875rem;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  position: fixed;
  top: 14%;
  z-index: 1;
  right: 3.125rem;
  @include phones {
    right: 1rem;
  }
}
.arrow {
  cursor: pointer;
  &-bottom {
    border: 2px solid green;
    margin-top: auto 0 1.625rem;
    text-align: center;
  }
}
.hamburger {
  opacity: 1;
  z-index: 3;
  cursor: pointer;
  display: none;
  right: 0;
  height: 22px;
  &--active {
    .icon-menu {
      display: none;
    }
    .icon-close {
      display: block;
    }
  }
  @include tablets {
    display: block;
    margin: 0 1.8rem 0 0;
  }
  @include phones{
    margin-right: 0.3rem;
  }
}
.icon-close {
  display: none;
}
.menu-open,
.menu-close {
  fill: #fff;
}
